html {
    font-family:sans-serif,'poppins';
    scroll-behavior: smooth;
}

/********** Template CSS **********/
:root {
    --primary: rgb(74, 173, 230);
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.fw-medium {
    font-weight: 600 !important;
}

#top {
    border-radius: 40px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: rgba(255, 166, 0, 0.507);
    border: none;
    outline: none;
}

.back-to-top:hover {
    background-color: var(--primary);
}

h1, h2{
    color: var(--primary);
}

i {
    color: var(--primary);
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    background-color: var(--primary);
    border: none;
    outline: none;
}

.btn:hover {
    background-color: rgb(4, 49, 75);
}
.btn.btn-primary,
.btn.btn-secondary {
    color: rgb(255, 255, 255);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    background-color: rgb(74, 173, 230);
}

.no-color {
    background-color: none;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }


}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
        padding-top: 20px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}

.booking {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-2.jpg) center center no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Team ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.fargo {
    text-decoration: none;
}

.book-new-button {
    width: 150px;
    height: 45px;
    justify-content: center;
    text-align: center;
    margin-left: 560px;
    margin-top: 30px;
    transition: all ease 0.3s;
    background-color: rgb(74, 173, 230);
    border: 1px solid rgb(74, 173, 230);
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.book-new-button:hover {
    background-color: rgb(15, 101, 151);
    color: rgb(74, 173, 230);
    border: 1px solid rgb(15, 101, 151);
}

.book-new-button>i {
    padding-left: 2px;
    margin-top: 5px;
    color: #fff;
    transition: all ease 0.3s;
}

.book-new-button>i:hover {
    color: rgb(74, 173, 230);
}

#movement {
    background-position: center;
    background-size:1800px 1300px;
    background-repeat: no-repeat;
    height: 30vh;
    margin-top: 150px;
    position: relative;
}

#movement p {
    color: #fafafa;
    background-color: rgb(74, 173, 230);
    padding: 20px 20px;
}

#movement h1 {
    color: #fff;
}

/* 

blog

*/

.blog {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.blog img {
    width: 390px;
    margin-left: 20px;
    height: 400px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.blog-container {
    margin-left: 200px;
    margin-right: 200px;
}

.blog .blog-container .blog-content{
    display: flex;
    justify-content: space-between;
}

.blog .blog-container .blog-content .blog-1 {
    border-radius: 12px;
    transition: all ease-in-out 0.3s;
    border: 3px solid #fff;
}

.blog .blog-container .blog-content .blog-1:hover {
    border: 3px solid rgb(74, 173, 230);
}

.blog-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.blog-1-content p {
    margin-right: 15px;
}

.blog-1-content h3{
    font-size: 1.9vmin;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: rgb(74, 173, 230);
    margin-top: 30px;
}

.blog-1-content h6 {
    font-size: 1.2vmin;
    margin-left: 20px;
    color: rgb(157, 156, 156);
    margin-bottom: 20px;
}

.blog h3 {
    color: rgb(74, 173, 230);
    font-size: 1.9vmin;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.blog h3:hover {
    text-decoration: underline;
}

#blog-1 {
    height: 40vh;
}

.blog h2 {
    text-align: center;
    font-size: 6vmin;
    margin-bottom: 30px;
}

@media (max-width: 1640px) {
    #blog-1 {
        height: 60vh;
    }
}

@media (max-width: 1350px) {
    #blog-1 {
        height: 80vh;
    }
}

@media (max-width: 1131px) {
    #blog-1 {
        height: 120vh;
    }
}

@media (max-width: 976px) {
    .blog .blog-container .blog-content {
        flex-direction: column;
    }

    .blog {
        margin-top: 500px;
    }

    #blog-1 {
        height: 40vh;
    }

    .blog img {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .blog .blog-container .blog-content .blog-1 {
        margin-top: 20px;
    }

    .blog-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 570px) {
    #blog-1 {
        height: 55vh;
    }
}

@media (max-width: 400px) {
    #blog-1 {
        height: 65vh;
    }
}

@media (max-width: 355px) {
    #blog-1 {
        height: 85vh;
    }
}

@media (max-width: 315px) {
    #blog-1 {
        height: 95vh;
    }
}

@media (max-width: 285px) {
    #blog-1 {
        height: 125vh;
    }
}

/* 

FOOTER 

*/

.footer-main {
    width: 100%;
    background-color: rgb(4, 49, 75);
    background-image:none;
    margin-bottom:0 ;
}

.footer-main img {
    width: 200px;
    height: 70px;
    margin-left: 30px;
    border-radius: 12px;

}

.footer-container {
    margin-left: 300px;
    margin-right: 300px;
    border-bottom: 2px solid gray;
}

.contact-container {
    border: 1px solid rgb(4, 49, 75);
    margin-top: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border: 1px solid rgb(74, 173, 230);
    margin-top: 30px;
    background-color: rgb(4, 49, 75);
    border-radius: 12px;
    padding-bottom: 30px;
}

.contact-1 ul>li {
    list-style: none;
}

.contact-1 ul>li>a{
    color: gray;
    margin-top: 20px;
    transition: all ease 0.3s;
}

.contact-1 ul>li>a:hover {
    color: #fff;
}

.contact-3{
    margin-right: 100px;
    border-left: 1px solid #fff;
    margin-top: 5px;
    padding-right: 20px;

}

.contact-2 {
    margin-top: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

input
ion-icon { display: block; }
.footer-main input {
  background: none;
  border: none;
  font: inherit;
}

.footer-main button {
    background-color: rgb(74, 173, 230);
    border-radius: 6px;
    border: 2px solid inherit;
}

.footer-main button:hover {
    color: #fff;
    background-color: none;
    border: 2px solid rgb(74, 173, 230);
}

input {
  width: 100%;
  outline: none;
  margin-top: 20px;
}

.footer-form .input-field {
    color: rgb(74, 173, 230);
    border: 1px solid rgb(74, 173, 230);
    border-radius: 4px;
    padding: 8px 20px;
  }
  
  .footer-form .input-field::placeholder { color: inherit; }
  
  .footer-form .btn {
    width: 100%;
    justify-content: center;
    margin-block: 14px 32px;
    height: 40px;
    border: 2px solid rgb(74, 173, 230);
  }

.footer-container-main {
    margin-top: 70px;
}

.footer-container-main h2 {
    font-size: 2.2vmin;
    margin-bottom: 20px;
}

.footer-container-main p {
    color: #fff;
    padding: 0;
    margin: 0;
}

.footer-container-main ul li {
    list-style: none;
    line-height: 30px;
}

.footer-container-main a {
    color: #fff;
    transition: all ease-in-out 0.4s;
}

.footer-container-main a:hover {
    color: rgb(74, 173, 230);
}

.quickl-inks{
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 420px) {
    .team-social-links {
        margin-left: 0px;
    }
}


.Location {
    margin-top: 20px;
}

.footer-content-2 {
    line-height: 30px;
}

.footer-main h6 {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    padding-bottom: 7px;
    margin-bottom: 0;
    font-size: 2vmin;
}

.footer-social-links {
    color: #111111;
}

.footer-content-contact h2 {
    margin-left: 30px;
}
@media (max-width: 976px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-main {
        background-image: none;
        background-color: rgb(4, 49, 75);
        height: fit-content;
    }

    .contact-content {
        flex-direction: column;
        display: none;
    }

    .footer-content-contact h2{
        margin-top: 20px;
    }

    .contact-3{
        border-left: none;
    }
}

@media (max-width: 1302px) {
    .contact-content {
        display: flex;
    }

    .contact-content img {
        display: none;
    }

    .contact-3 {
        margin-right: 20px;
    }
}

@media (max-width: 420px) {
    .contact-content {
        margin-left: 10px;
    }

    .footer-container {
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 2px solid gray;
    }

    .footer-main h6 {
        margin-left: 0px;
    }
}

@media (max-width: 765px) {
    .footer-container {
        margin-left: 30px;
        margin-right: 30px;
    }
}



#mission {
    background-color: none;
    border:  2px solid rgb(200, 224, 238);
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

#mission:hover {
    border: 2px solid rgb(74, 173, 230);
}

.about-btn a {
    color: aliceblue;

